MvcMovie.csproj.nuget.dgspec.json
MvcMovie.csproj.nuget.g.props
project.assets.json
project.nuget.cache
apphost.exe
MvcMovie.AssemblyInfo.cs
MvcMovie.AssemblyInfoInputs.cache
MvcMovie.assets.cache
MvcMovie.GeneratedMSBuildEditorConfig.editorconfig